.app-nav {
 position: fixed;
 bottom: 1rem;
 left: 50%;
 translate: -50%;
 background: $clr1;
 border-radius: 0.8rem;
 grid-auto-flow: column;
 padding: 0.5rem 1rem;
 gap: 1rem;
 box-shadow: 0 0 5px 1px $clr4;

 input[type="search"] {
  position: absolute;
  top: -2.5rem;
  width: 200%;
  translate: -25%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
 }
}
