.app-nav {
 position: fixed;
 bottom: 1rem;
 left: 50%;
 translate: -50%;
 background: $clr1;
 border-radius: 0.8rem;
 grid-auto-flow: column;
 padding: 0.5rem 1rem;
 gap: 1rem;
 box-shadow: 0 0 5px 1px $clr4;

 .search {
  grid-auto-flow: column;
  grid-template-columns: 1fr 10%;
  align-items: center;
  box-shadow: 0 0 5px 1px $clr4;
  position: absolute;
  top: -2.5rem;
  width: 200%;
  translate: -25%;
  border-radius: 0.2rem;

  button {
   display: grid;
   place-items: center;
   border: none;
   background: none;
   font-size: 1.5rem;
   cursor: pointer;
   i {
    color: $clr4;
   }
   &.dirty {
    i {
     color: #54f454;
    }
   }
  }
  input[type="search"] {
   border: none;
   padding: 0.5rem;
  }
 }
}
