.book-preview {
 box-shadow: 0 0 1px 1px $clr4;
 padding: 0.5rem;
 border-radius: 0.8rem;

 img {
  border-radius: 0.6rem;
  aspect-ratio: 1/1;
 }

 &.list {
  .actions-container {
   grid-auto-flow: column;
   justify-content: start;
  }
 }

 .actions-container {
  grid-auto-flow: column;
 }
}
